*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(227, 240, 240);
}
#header{
    margin: 1rem;
}
.app-form{
    background-color: blanchedalmond;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px rgb(28, 22, 112);
    width: 50%;
    /* text-align: center; */
}
.screen-body-item{

    /* change with media QUARRY */
    background-color: rgb(105, 185, 185);
    width:70%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.app-form-group{
    padding: 0.2rem;
}
.app-form-group input{
    padding: 0.1rem;
    background-color: rgb(193, 233, 233);
    border: none;
    outline: none;
    font-weight: bolder; 
    height: 30px;
} 
#showData{
    color: rgb(2, 2, 2);
    font-weight: bolder;
   
   

}
.showData{
    width: 70%;
    height: 10vh;
    background-color: rgb(12, 133, 133);
    text-align: center;

}

.app-form-button{
    padding: 0.3rem;
    background-color: burlywood;
    border-radius: 2rem;
    outline: none;
    border: none;
    
}
.app-form-button:hover{
    padding: 0.3rem;
    background-color: rgb(25, 217, 231);
    border-radius: 2em;
}

